<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="root">
        <div>
            <button @click="fetchNotes">
                Fetch Todos
            </button>
            <input
            class="add-search-input"
            type="text"
            v-model="newTodo"
            @keyup.enter="addTodo"
            >
        </div>
        <div>
            <h4 v-if="loading">
                Loading...
            </h4>
            <h4 v-if="submitting"> 
                Submitting...
            </h4>
            <h4 v-if="validTodo">
                Good to go!
            </h4>
        </div>
        <ul>
            <li v-for="todo in todos">
                {{todo.id}} - {{todo.title}}
            </li>
        </ul>
    </div>
    <script src="api.js"></script>
</body>
</html>