<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>
    <div id="root">
        <div>
            <h4>v-if</h4>
            
            <div v-if="ifBoolean">
                show inforemation if the boolean is true
            </div>

            <div v-else="ifBoolean">
                this is where v - else data when the boolean is false 
            </div>
        </div>

        <div>
           <h4>v-show</h4> 

           <div v-show="showBoolean">
               show information if show boolean is true
           </div>
        </div>

        <div>
            <h4>v-for</h4>
            <ul>
                <li v-for="fruit in fruits">
                    {{fruit}}
                </li>
            </ul>
        </div>



    </div>
    <script src="app.js"></script>
</body>
</html>